[Oo]bj
[Bb]in
[Tt]emp
ipch
x64
*.opensdf
*.user
*.suo
*.[Cc]ache
*.bak
*.log 
*.DS_Store
*.sdf
*.pyc
*.un~
*.swatches
*.swatch
[Tt]est[Rr]esult*
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
 
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
